p {
    margin: 0 0 16px;
}
/**
 * Hide when Angular is not yet loaded and initialized
 */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
/* Remove as bordas do menu da sidebar */
md-sidenav md-list md-list-item .md-button .md-ripple-container {
    border-radius: 0 !important;
}

#content, #content md-content {
    background-color: #f9f9f9;
}

md-list .active {
    background-color: rgba(158,158,158,0.2);
}
/* Correção de avatar em md-list */
md-list md-list-item img.md-avatar {
    margin-top: 16px !important;
    margin-bottom: 16px;
}

md-icon.success {
    color: #259b24;
}

/* COLORS */
.grey {
    background: rgb(66,66,66) !important;
}

.invisible {
    visibility: hidden !important;
}