<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-4dp" 
    md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" flex>
    <md-list ng-cloak>
        <div ng-repeat="menu in vm.menus" ui-sref="{{menu.sref}}" ui-sref-active="active">
            <md-list-item class="md-clickable" md-ink-ripple>
                <md-icon md-svg-icon="{{menu.icon}}" style="margin: 16px 32px 16px 0"></md-icon>
                <p translate="{{ menu.text }}">Usuários</p>
            </md-list-item>
        </div>
    </md-list>
</md-sidenav>